* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   user-select: none;
}
:root {
   --bg-color: hsl(0, 100%, 100%);
   --border-color: hsl(0, 0%, 93%);
   --font-family: "Poppins", sans-serif;
   --brand-color: rgba(238, 128, 88, 0.911);
   --footer-black: hsl(0, 0%, 13%);
}
html {
   font-family: "Poppins", sans-serif;
   -ms-scroll-chaining: none;
       overscroll-behavior: contain;
 }

input::-webkit-input-placeholder { font: inherit; }
input::-moz-placeholder { font: inherit; }
input:-ms-input-placeholder { font: inherit; }
input::-ms-input-placeholder { font: inherit; }
input::placeholder { font: inherit; }

body { 
   background: var(--bg-color); 
   width: 100%;
   height: 100%;
   overflow: auto;
}

::-webkit-scrollbar { width: 11px; }
::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-left: 1px solid var(--border-color);
}
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }

.viewer {
   position: relative;
   overflow: auto;
   width: 100%;
   height: 100%;
   display: flex;
   flex-wrap: wrap;
}
.viewer-topnav {
   position: fixed;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   background-color: var(--bg-color);
   height: 122px;
   z-index: 999;
}
.null-content {
   position: relative;
   width: 100%;
   height: 122px;
   background-color: transparent;
}
.viewer-topnav > div {
   width: 100%;
   position: relative;
   border-bottom: 1px solid var(--border-color);
}
.viewer-topnav .viewer-above {
   height: 50px;
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
}
.viewer-above > div {
   margin: 0px 50px;
}
.viewer-above .dots {
   position: relative;
   width: max-content;
   height: max-content;
   display: inline-flex;
}
.viewer-above .dots span{
   position: relative;
   margin: 0px 3px;
   border-radius: 50%;
   height: 10px;
   width: 10px;
   cursor: pointer;
   background-color: rgb(243, 243, 247);
   transition: all .3s;
}
.viewer-above .dots span:hover{
   background-color: var(--brand-color);
}
.viewer-above .viewer-top-center {
   font-size: 14px;
   color: rgb(105, 105, 112);
   font-weight: 500;
}
.viewer-above .viewer-right-account {
   width: max-content;
   height: max-content;
}
.viewer-above .viewer-right-account button a{
   text-decoration: none;
   color: white;
}
.viewer-above .viewer-right-account button {
   border: none;
   border-radius: 6px;
   color: white;
   background-color: var(--brand-color);
   width: 100px;
   height: 30px;
   font-size: 16px;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all .3s;
   margin: 0px 5px;
}
.viewer .hidden-btns {
   position: fixed;
   bottom: 0px;
   width: 100%;
   z-index: 999;
   height: 50px;
   display: none;
   justify-content: space-between;
   align-items: center;
   background-color: #fff;
   border-top: 2px solid var(--border-color);
   box-shadow: 3px 3px 3px 12px rgba(128, 128, 128, 0.137);
}
.viewer .hidden-btns div{
   position: relative;
   width: max-content;
   height: max-content;
   padding: 5px;
}
.viewer .hidden-btns div img{
   width: 40px;
   height: 40px;
}
.viewer .hidden-btns a{
   text-decoration: none;
}
.undefined {
   display: none;
   position: relative;
   width: 100%;
   height: 50px;
}

.viewer-above .viewer-right-account button:hover{
   background-color: black;
}
.viewer-search {
   display: inline-flex;
   justify-content: space-between;
   align-items: center;
}
.viewer-search > div {
   margin: 0px 50px;
}
.viewer-search form {
   display: inline-flex;
   align-items: center;
}
.viewer-search form .inputs {
   position: relative;
   width: 600px;
   height: 35px;
   display: flex;
   flex-wrap: nowrap;
}
.viewer-search form .inputs .fetch-results {
   display: none;
   position: relative;
   width: 500px;
   height: max-content;
   border: 1px solid var(--border-color);
   border-bottom: none;
   border-top: none;
   box-shadow: 0px 3px 12px whitesmoke;
}
.viewer-search form .inputs .fetch-results div{
   position: relative;
   width: 100%;
   padding: 15px 0px;
   text-indent: 20px;
   color: rgb(95, 98, 105);
   font-size: 16px;
   letter-spacing: 1px;
   background-color: white;
   border-bottom: 1px solid var(--border-color);
}

.viewer-search form input{
   margin: 0px 1px;
}
.viewer-search form .inputs input[type="search"] {
   width: 500px;
   height: 35px;
   outline: none;
   text-align: center;
   border: 1.3px solid var(--border-color);
   border-radius: 10px;
   letter-spacing: 1px;
   font-size: 15px;
}
.viewer-search form .inputs input[type="submit"] {
   width: 70px;
   height: 32px;
   border: none;
   color: white;
   background-color: black;
   border-radius: 8px;
   font-size: 14px;
   cursor: pointer;
   transition: all .3s;
}
.viewer-search form .inputs input[type="submit"]:hover {
   background: var(--brand-color);
}
.viewer-search form .viewer-categories{
   position: relative;
   width: 100px;
   height: 50px;
   display: flex;
   justify-content: center;
   place-items: center;
   flex-wrap: nowrap;
}
input[type="number"]::-webkit-inner-spin-button {
   display: none;
}
input[type="number"]::-webkit-outer-spin-button {
   display: none;
}
input{
   text-align: center;
}
.viewer-search form .viewer-categories>div{
   margin: 5px;
}
.viewer-search form .viewer-categories .desc {
   color: var(--brand-color);
}
.viewer-search form .viewer-categories .all-categories {
  display: none;
   position: relative;
   width: max-content;
   height: max-content;
   border: 1px solid var(--border-color);
   border-bottom: none;
   background-color: white;
   box-shadow: 0px 0px 6px gainsboro;
}
.selected {
   padding: 3px 5px;
   border: 1px solid var(--border-color);
   cursor: pointer;
}
.viewer-search form .viewer-categories .view-categories {
   display: block;
    position: relative;
    width: max-content;
    height: max-content;
    border: 1px solid var(--border-color);
    border-bottom: none;
    background-color: white;
    box-shadow: 0px 0px 6px gainsboro;
 }
.viewer-search form .viewer-categories .view-categories div,
.viewer-search form .viewer-categories .all-categories div {
   position: relative;
   border-bottom: 1px solid var(--border-color);
   padding: 5px 20px;
   justify-content: center;
   align-items: center;
   color: rgb(55, 55, 59);
   margin: 0px;
}
.viewer-search form .viewer-amount input {
   width: 40px;
   height: 20px;
   border: 1px solid var(--border-color);
   outline: none;
   border-radius: 6px;
}
#cat-inp{
   display: none;
}
#price-desc {
   margin-bottom: 15px;
}
.viewer-buy {
   position: relative;
   width: 100%;
   height: max-content;
   display: flex;
   align-items: center;
   flex-direction: column;
   padding-bottom: 10px;
}

.viewer-buy .pimage{
   position: relative;
   width: 60%;
   height: 300px;
   overflow: hidden;
   border-radius: 10px;
   margin-top: 20px;
}
.viewer-buy .pimage img {
   width: 100%;
   height: 100%;
}
.viewer-buy .pname {
   width: 100%;
   height: max-content;
   margin: 10px 0px;
   color: var(--brand-color);
   text-indent: 100px;
}
.viewer-buy .pprice{
   width: 80%;
   color: rgba(51, 53, 58, 0.699);;
}.viewer-buy .pprice>span{
   color: var(--brand-color);
   margin: 2px 0px;
}
.viewer-buy .pdesc {
   position: relative;
   width: 80%;
   color: rgba(51, 53, 58, 0.699);
}
.viewer-buy .tips {
   position: relative;
   width: 80%;
   color: rgba(51, 53, 58, 0.699);
   font-size: 14px;
}
.h2{
   color: var(--brand-color);
}
 .viewer-p-nav {
   position: relative;
   width: 100%;
   height: max-content;
   padding: 10px 0px;
   border: none;
   background-color: var(--bg-color);
   display: flex;
   justify-content: center;
   place-items: center;
}
 .viewer-p-nav ul {
   display: inline-flex;
   list-style: none;
}
 .viewer-p-nav ul li a{
   color: rgba(52, 50, 58, 0.733);
   padding: 0px 20px;
   text-decoration: none;
   font-size: 15px;
   font-weight: 600;
   transition: all .3s ease-in;
}
 .viewer-p-nav ul li a:hover {
   border-bottom: 2px solid var(--brand-color);
   color: var(--brand-color);
}
.viewer-buy .buyCont {
   position: absolute;
   right: 30px;
   bottom: 10px;
}
.viewer-buy .buyCont .q{
   width: 165px;
   height: 50px;
   background-color: rgb(20, 21, 41);
   color: white;
   text-indent: 5px;
}.viewer-buy .buyCont form{
   display: inline-flex;
}
.viewer-buy .buyCont input{
   height: 50px;
   width: 50px;
   outline: none;
   border: 1px solid rgb(20, 21, 41);
   text-align: center;
   background-color: #fff;
   margin-left: 2px;
}
.viewer-buy .buyCont button {
   height: 50px;
   border: none;
   outline: none;
   width: 180px;
   font-size: 18px;
   background-color: var(--brand-color);
   color: white;
   cursor: pointer;
}
.viewer-buy .buyCont .total {
   width: max-content;
   height: 50px;
   color: rgba(51, 53, 58, 0.699);
   display: flex;
   place-items: center;
   padding: 0px 3px;
   border: 1px solid var(--border-color);
}

/* ======== medias */
@media (max-width: 1025px) {
   .viewer-leftlog{
      display: none;
   }
   .viewer-search{
      justify-content: center;
      place-items: center;
   }
}
@media (max-width: 960px) {
   .left-contents {
      display: none;
   }
   .viewer-products {
      width: 100%;
      justify-content: center;
   }
   .viewer-wrapper {
      width: 100%;
      left: 0px;
   }
   .viewer-buy .pimage{
      width: 90%;
      height: 300px;
      border-radius: 0px;
   }
   .viewer-buy .pname {
      width: 100%;
      text-indent: 5px;
      font-size: 2vw;
   }
}
@media (max-width: 860px) {
   .viewer-top-center {
      display: none;
   }
   .viewer-search > div {
      margin: 0px 0px;
   }
   .viewer-search form{
      display: inline-flex;
   }
   .viewer-search form > div {
      margin: 0px;
   }
   .viewer-search form .inputs {
      width: 60vw;
   }
   .viewer-search form .inputs input[type="search"] {
      width: 40vw;
      font-size: 12px;
      margin: 0px 3px;
   }
   .viewer-search form .inputs .fetch-results {
      width: 40vw;
   }
   .viewer-topnav {
      height: max-content;
   }
   .viewer-buy .buyCont {
      position: relative;
      width: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      left: 0px;
      height: max-content;
      bottom: -5px;
   }
   .viewer-buy .buyCont .q{
      width: 165px;
      height: 50px;
      background-color: rgb(20, 21, 41);
      color: white;
      text-indent: 5px;
   }.viewer-buy .buyCont form{
      display: inline-flex;
   }
   .viewer-buy .buyCont input{
      height: 50px;
      width: 50px;
      outline: none;
      border: 1px solid rgb(20, 21, 41);
      text-align: center;
      background-color: #fff;
      margin-left: 2px;
   }
   .viewer-buy .buyCont button {
      height: 50px;
      border: none;
      outline: none;
      width: 180px;
      font-size: 18px;
      background-color: var(--brand-color);
      color: white;
      cursor: pointer;
   }
}
@media (max-width: 760px) {
    .viewer-p-nav {
      display: none;
   }
   .viewer .hidden-btns {
      display: inline-flex;

   }
   .undefined {
      display: block;
   }
}

@media (max-width: 750px) {
   .viewer-wrapper {
      width: 100%;
      left: 0px;
      height: 300px;
   }
   .viewer-wrapper>div>.description{
      display: none;
   }
   .viewer-wrapper>div>.img{
      width: 100%;
   }
}
@media (max-width: 735px) {
   .viewer-products>.product{
      width: 25vw;
      height: 275px;
   }
}

@media (max-width: 630px) {
   .viewer-products>.product{
      width: 24vw;
      height: 220px;
   }
   .viewer-products>.product>.pimage{
      height: 120px;
   }
   .viewer-products>.product>.pimage>img{
      width: 100%;
      height: 100%;
   
   }
   .viewer-products>.product>.pname{
      font-size: 14px;
   }
   .viewer-products>.product>.pdesc{
      margin: 3px;
      font-size: 12px;
   }
   .viewer-products>.product>.pprice{
      font-size: 12px;
   }
   .viewer-topnav .viewer-above {
      display: none;
   }
   .viewer-topnav {
      height: 68px;
   }
   .null-content {
      height: 70px;
   }
}
@media (max-width: 550px) {
   .viewer-search form .inputs input[type="search"] {
      height: 30px;
   }
   .viewer-search form .inputs input[type="submit"] {
      height: 29px;
   }
  
   .viewer-search form .viewer-categories {
      font-size: 13px;
   }
   .viewer-products>.product{
      width: 24vw;
      height: 190px;
   }
   .viewer-products>.product>.pimage{
      height: 100px;
   }
   .viewer-products>.product>.pimage>img{
      width: 100%;
      height: 100%;
   
   }
   .viewer-products>.product>.pname{
      font-size: 12px;
   }
   .viewer-products>.product>.pdesc{
      margin: 3px;
      font-size: 11px;
   }
   .viewer-products>.product>.pprice{
      font-size: 11px;
   }

}

@media (max-width: 490px) {
   .viewer-products>.product{
      width: 24vw;
      height: 190px;
   }
   .viewer-products>.product>.pimage{
      height: 100px;
   }
   .viewer-products>.product>.pimage>img{
      width: 100%;
      height: 100%;
   
   }
   .viewer-products>.product>.pname{
      width: 100%;
      font-size: 12px;
      text-align: unset;
      text-indent: 4px;
   }
   .viewer-products>.product>.pdesc{
      width: 100%;
      font-size: 11px;
      text-align: unset;
      text-indent: 0px;
   }
   .viewer-products>.product>.pprice{
      width: 100%;
      font-size: 9px;
      text-align: unset;
      text-indent: 6px;
   }

}

@media (max-width: 550px) {
   .viewer-products>.product{
      width: 27vw;
      height: 190px;
      margin: 3px;
   }
   .viewer-products>.product>.pname{
      width: 100%;
      font-size: 13px;
      text-align: unset;
      text-indent: 4px;
   }
   .viewer-products>.product>.pdesc{
      width: 100%;
      font-size: 12px;
      text-align: unset;
      text-indent: 0px;
   }
   .viewer-products>.product>.pprice{
      width: 100%;
      font-size: 11px;
      text-align: unset;
      text-indent: 6px;
   }

}

@media (max-width: 490px) {
   .viewer-products>.product{
      width: 28vw;
      height: 190px;
      margin: 3px;
   }
   .viewer-products>.product>.pname{
      width: 100%;
      font-size: 12px;
      text-align: unset;
      text-indent: 4px;
   }
   .viewer-products>.product>.pdesc{
      width: 100%;
      font-size: 11px;
      text-align: unset;
      text-indent: 0px;
   }
   .viewer-products>.product>.pprice{
      width: 100%;
      font-size: 9px;
      text-align: unset;
      text-indent: 6px;
   }
}

@media (max-width: 359px) {
   .viewer-products>.product{
      width: 28vw;
      height: 190px;
      margin: 3px;
   }
   .viewer-products>.product>.pname{
      width: 100%;
      font-size: 11px;
      text-align: unset;
      text-indent: 4px;
   }
   .viewer-products>.product>.pdesc{
      width: 100%;
      font-size: 10px;
      text-align: unset;
      text-indent: 0px;
   }
   .viewer-products>.product>.pprice{
      width: 100%;
      font-size: 9px;
      text-align: unset;
      text-indent: 6px;
   }
}
@media (max-width: 340px) {
   .viewer-products>.product{
      width: 40vw;
      height: 190px;
      margin: 3px;
   }
   .viewer-products>.product>.pname{
      width: 100%;
      font-size: 13px;
      text-align: unset;
      text-indent: 4px;
   }
   .viewer-products>.product>.pdesc{
      width: 100%;
      font-size: 12px;
      text-align: unset;
      text-indent: 0px;
   }
   .viewer-products>.product>.pprice{
      width: 100%;
      font-size: 11px;
      text-align: unset;
      text-indent: 6px;
   }
}